<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Currículo - Vicenzo</title>
</head>
<body style="font-family: 'Trebuchet MS', sans-serif; background-color: #c8ffeb">
<div style="text-align: center;">
    <h1>Vicenzo de Souza</h1>
    <img src="image.png" alt="Foto de Vicenzo" style="width: 200px; border-radius: 50%;">
</div>
<div>
    <h2>Biografia</h2>
    <p>
        Meu nome é Vicenzo, tenho 20 anos e sou graduando em Ciência da Computação pela Universidade Franciscana (UFN), atualmente no 5º semestre. Desde cedo, sempre tive grande interesse pela área de tecnologia, o que me motivou a seguir carreira no desenvolvimento de sistemas e soluções inovadoras.   Tenho perfil analítico, facilidade para trabalhar em equipe e estou constantemente em busca de novos aprendizados. Valorizo a aplicação prática do conhecimento adquirido na universidade e procuro contribuir de forma eficiente em projetos que envolvam tecnologia, inovação e impacto real no cotidiano.
    </p>
<div>
    <div>
        <h2>Informações Pessoais</h2>
        <ul>
            <li>Idade: 20 anos</li>
            <li>Curso: Ciência da Computação</li>
            <li>Universidade: Universidade Franciscana</li>
        </ul>
    </div>
    <h2>Habilidades</h2>
    <ul>
        <li>
            <p> <img style ="width: 1.5%; height: 1.5%;" title="Java" src="https://cdn-icons-png.flaticon.com/128/5968/5968282.png"> Java</p>
        </li>
        <li>
            <p> <img style="width: 1.5%; height: 1.5%;" title="JavaScript" src="https://cdn-icons-png.flaticon.com/128/1199/1199124.png"> JavaScript</p>

        </li>
        <li>
            <p><img style="width: 1.5%; height: 1.5%;" title="HTML" src="https://cdn-icons-png.flaticon.com/128/1051/1051277.png"> HTML</p>
        </li>
        <li>
            <img style="width: 1.5%; height: 1.5%;" title="CSS" src="https://cdn-icons-png.flaticon.com/128/732/732190.png"> CSS</p>
        </li>
        <li>
            <img style="width: 1.5%; height: 1.5%;" title="CSS" src="https://cdn-icons-png.flaticon.com/128/5968/5968313.png">  MySQL</p>
        </li>
    </ul>
</div>
<div>
    <h2>Contato</h2>
    <ul>
        <li>
         <a href="https://google.com" target="_blank">
            <img src="https://cdn-icons-png.flaticon.com/128/3536/3536505.png"
                style="width: 1.5%; height: 1.5%;" title="LinkedIn">
         </a>
        </li>
        <li>
         <a href="https://www.instagram.com/vicenzodsouza_/" target="_blank">
            <img src="https://cdn-icons-png.flaticon.com/128/15713/15713420.png"
                style="width: 1.5%; height: 1.5%;" title="Instagram">
         </a>
        </li>
        <li>
         <a href="https://google.com" target="_blank">
            <img src="https://cdn-icons-png.flaticon.com/128/2504/2504911.png"
                style="width: 1.5%; height: 1.5%;" title="GitHub">
         </a>
        </li>
    </ul>
</div>
<div style="text-align: center;">
    <h6>Obrigado pela visita!</h6>
</div>
</body>
</html>