<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8">
<title>Currículo - Vicenzo</title>
</head>
<body>

<h1>Vicenzo de Souza</h1>
<img src="image.png" alt="Vit">
<h2>Informações Pessoais</h2>

<ul>
<li>Idade: 20 anos</li>
<li>Curso: Ciência da Computação</li>
<li>Universidade: Universidade Franciscana</li>
</ul>

<h2>Resumo</h2>
<p>
Estudante de Ciência da Computação com foco em desenvolvimento de sistemas e soluções tecnológicas. 
Possuo facilidade para trabalhar em equipe, boa capacidade analítica e interesse constante por inovação e aprendizado. 
Busco aplicar meus conhecimentos acadêmicos em projetos práticos e oportunidades no setor de tecnologia.
</p>
<h2>Formação Acadêmica</h2>
<ul>

<li>Graduação em Ciência da Computação</li>
<li>Universidade Franciscana</li>
</ul>

<h2>Habilidades</h2>

<ul>
<li>Programação em HTML</li>
<li>Lógica de programação</li>
<li>Resolução de problemas</li>
</ul>

<h2>Contato</h2>

<ul>
<li><a href="vicenzo.milanesi@ufn.edu.br">vicenzo.milanesi@ufn.edu.br</a></li>
<li><a href="https://www.linkedin.com/in/vicenzo-de-souza-milanesi-189062267/">LinkedIn</a></li>
</ul>

<h6>Obrigado pela visita!</h6>
</body>
</html>
