<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body>
<h1 style="color:red; text-align: center">Titulo 1<h1/>
<p style="background-color: #afafff;
   color: aliceblue;
   font-size: 30px;
   font-family:'Trebuchet MS', sans-serif;">
   Meu paragrafo
</p>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Google_2015_logo.svg/640px-Google_2015_logo.svg.png"
     style="width: 50% ; height: 50&">

    <p>Lorem ipsum dolor <b>sit amet</b>, consectetur adipiscing elit, <strong>sed do eiusmod tempor incididunt ut labore</strong> et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>

    <h3 style="color:red; ">Nome de cor</h3>
    <h3 style="color: #00ff00; ">Hexadecimal</h3>
    <h3 style="color: rgb(0,0,255);">RGB</h3>
    <h3 style="color: hsl(60, 100%, 50% );"> HSL </h3>

    <a href="https://google.com">Link</a>
    <a href="index.html">Index</a>
    <a href="mailto:vicenzo.milanesi@ufn.edu.br">Contato</a>

    <a href="https://google.com" target="_blank"> <!-- Usar target para abrir em uma nova guia -->
        <img src="https://t.ctcdn.com.br/lvns56iaSMyHvyTur4JeYS_NYeY=/i606944.png"
             style="width: 10% ; height: 10%" title="Google">
    </a>


    <img src="" alt="" width="" height="">

    <button onclick="document.location='https://google.com'">Ir</button>


</body>
</html>